*.o
*.so
.Rproj.user
.Rhistory
.RData
.DS_Store
inst/doc
README_cache
*.tar.gz
*.aux
*.log
*-eps-converted-to.pdf
*.ps
*.dylib
.ipynb_checkpoints/
benchmarks/cancer-rna/code/data.csv
benchmarks/cancer-rna/code/labels.csv
benchmarks/financial-data/
benchmarks/third-party/
benchmarks/urban-land-cover/
spectralGraphTopology.Rcheck/
spectralGraphTopology_0.1.0.tar.gz
