export(L)
export(Linv)
export(learn_laplacian_matrix)
export(learn_bipartite_graph)
export(learn_adjacency_and_laplacian)
export(wiener_kernel)
export(gaussian_kernel)
export(periodic_kernel)
export(rational_quadratic_kernel)
export(blockDiag)
export(vec)
export(relativeError)
export(prial)
export(Fscore)
export(eigenvalues)
export(eigenvectors)
export(A)
export(Ainv)
useDynLib(spectralGraphTopology)
importFrom(Rcpp, sourceCpp)
