export(LOp)
export(LStarOp)
export(LStarOpImpl)
export(L)
export(Lstar)
export(altLstar)
export(w_update)
export(U_update)
export(lambda_update)
export(learnGraphTopology)
export(objFunction)
useDynLib(spectralGraphTopology)
importFrom(Rcpp, sourceCpp)
