export(LOp)
export(LStarOp)
export(LStarOpImpl)
export(L)
export(Linv)
export(Lstar)
export(Mmat)
export(altLstar)
export(laplacian.w_update)
export(laplacian.U_update)
export(laplacian.lambda_update)
export(learnGraphTopology)
export(objfunc)
export(loglikelihood)
export(logprior)
export(blockDiagCpp)
export(blockDiag)
export(vec)
export(vecLmat)
export(relativeError)
export(prial)
export(Fscore)
export(eigenvalues)
export(eigenvectors)
export(A)
export(Ainv)
export(Astar)
export(altAstar)
export(Pmat)
export(inv_pd)
useDynLib(spectralGraphTopology)
importFrom(Rcpp, sourceCpp)
